includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    ignoreErrors:
        - '~Parameter #1 \$json of function json_decode expects string, string\|false given~'
        - '~Parameter #3 \$body of class GuzzleHttp\\Psr7\\Response constructor expects Psr\\Http\\Message\\StreamInterface\|resource\|string\|null, string\|false given~'
